body {
    margin: 0;
    background-image: url("Assets/Background.png");
}
h1 {
    color:#653c24;
    font-size: 36px;
}
h2 {
    color:maroon;
    font-size: 30px;
}
p {
    font-size: 24px;
    color:yellow;
    font-style: normal;
}
a {
    font-size: 30px;
    color:#653c24;
    font-style:normal;
}
