body {
    margin: 0;
    background-image: url("Assets/Background.png");
}
h1 {
    color:#653c24;
    font-size: 16px;
}
h2 {
    color:maroon;
    font-size: 14px;
}
#content img {
    max-width:480px;
    height:auto;
}
p {
    font-size: 12px;
    color:yellow;
    font-style: normal;
}
a {
    font-size: 14px;
    color:#653c24;
    font-style:normal;
}
